{% extends "base.html" %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Totoro Store</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tienda de articulos para gatos gays</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for category in categories %}
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ category.icon.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="card-text text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ category.name }}</h5>
                                </div>
                                <div style="height: 100%; margin-bottom: 20px; display: flex; align-items:flex-end; justify-content: center;">
                                    <a href="{% url 'products_by_category' category_id=category.id %}" class="btn btn-info">Ver productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endblock %}
